@import "../../styles/colors.module.scss";

.trt-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: transparent;
  height: 7rem; //112px
  width: 100%;
}

.trt-header-carousel {
  text-align: center;
}

.trt-asset-health-score {
  color: $white-100;
  font-size: 1.125rem; //18px
  font-weight: 600;
}

.trt-status-rising,
.trt-status-decreasing {
  & > svg {
    font-size: 22px;
    margin-left: 2px;
    vertical-align: text-bottom;
  }
}

.trt-status-decreasing {
  & path {
    fill: $red-900;
  }
}

.trt-status-rising {
  & path {
    fill: $green-600;
  }
}

//PWA
.trt-drawer-button {
  border-radius: 8px;
  height: 2.5rem; //36px
  width: 2.5rem; //36px
}

.trt-drawer-open-icon {
  & > svg {
    font-size: 1.375rem; //22px
    font-weight: 700;
  }

  & path {
    fill: $white-100;
  }
}
