//BLUE PALETTE
$blue-900: #20408b;
$blue-600: #1f408a;
$blue-500: #3c54a1;
$blue-200: #2b6fe8;
$blue-100: #7ce7f2;
$blue-50: #edf7fe;

//GREEN PALETTE
$green-900: #3fa44b;
$green-600: #56d968;

//GRAY PALETTE
$gray-900: #999999;
$gray-700: #848a96;
$gray-300: #d9d9d9;

//WHITE PALETTE
$white-100: #ffffff;
