@import "../../../../styles/colors.module.scss";

.trt-panel-title {
  span {
    color: $black-100;
    & > svg {
      font-size: 18px;
    }
  }

  & path {
    fill: $black-100;
  }
}

.trt-panel-icon {
  & path {
    fill: $black-100;
  }
}

.trt-nav-link {
  display: flex;
  align-items: center;

  color: $black-100;
}

.trt-nav-icon {
  & > svg {
    margin-right: 4px;
  }

  & path {
    fill: $black-100;
  }
}
