@import "../../../../styles/colors.module.scss";

.trt-panel-title {
  span {
    color: #000000;
    & > svg {
      font-size: 18px;
    }
  }

  & path {
    fill: #000000;
  }
}

.trt-panel-icon {
  & path {
    fill: #000000;
  }
}

.trt-nav-link {
  display: flex;
  align-items: center;

  color: #000000;
}

.trt-nav-icon {
  & > svg {
    margin-right: 4px;
  }

  & path {
    fill: #000000;
  }
}
