@import "../../styles/colors.module.scss";

.trt-sider-wrapper {
  padding: 0 0 0 20px;
}

.trt-nav-link {
  color: $white-100;
  font-weight: 600;
  width: fit-content;
}

.trt-nav-icon {
  & > svg {
    font-size: 22px;
    margin-right: 4px;
  }

  & path {
    fill: $blue-100;
  }
}
