.trt-layout {
  display: flex;
  flex-wrap: wrap;

  background: linear-gradient(
    157deg,
    rgba(32, 64, 139, 1) 0%,
    rgba(31, 64, 138, 1) 35%,
    rgba(43, 111, 232, 1) 100%
  );
}

.trt-layout-sider {
  background: transparent;
}
